Django==5.2.1
djangorestframework==3.16.0
pillow==11.2.1
psycopg2-binary==2.9.10
python-dotenv==1.1.0
drf-spectacular==0.28.0
redis==6.1.0
celery==5.5.2
requests==2.32.3
flake8==7.2.0
gunicorn==23.0.0
